
<h2>"<%= @quote.description %>"</h2>
<h3>-<i><%= @quote.author %></i></h3>
<main style="background-image: linear-gradient(to bottom,rgba(255,255,255, 0.2), rgba(255,255,255, 0.2)), url(<%= Wallpaper.all.sample.link %>)">
  <%= month_calendar events: @events do |date, events| %>
  <strong><%= date.day %></strong> <br>
  <div class="calendar-cell" style="visibility:hidden">
  <%= @event.start_time = date %>
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description%>
    </div>


    <div class="field">
      <%= f.datetime_select :start_time %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>

  <% if date.to_s == Time.now.strftime("%Y-%m-%d") && Time.now.strftime("%H").to_i < 18 && Time.now.strftime("%H").to_i > 9  %>
    <% if events.length < 2 %>
      <%= link_to "Create Your Tasks", new_event_path%>
    <% end %>
  <% end%>

  <% if Time.now.strftime("%H").to_i > 5 && date.to_s == Time.now.strftime("%Y-%m-%d")%>
   <%= link_to "Mark tasks", checks_path %>
  <% end %>

    <% events.each do |event| %>
      <div>
        <i><%= event.start_time.strftime("%I:%M %p") %></i>
        <%= link_to "#{event.description}", event_path(event) %>
      </div>
    <% end %>
  <% end %>
</main>
<%= button_to "Create Event", new_event_path, method: "get" %>
<%= link_to "Home", root_path %>
