
<h2>"<%= @quote.description %>"</h2>
<h3>-<i><%= @quote.author %></i></h3>

<%= month_calendar events: @events do |date, events| %>
<strong><%= date.day %></strong> <br>

<% if date.to_s == Time.now.strftime("%Y-%m-%d") && Time.now.strftime("%H").to_i < 12  %>
  <% if events.length < 2 %>
    <%= link_to "Create Your Tasks", new_event_path%>
  <% end %>
<% end%>

<% if Time.now.strftime("%H").to_i > 12 && date.to_s == Time.now.strftime("%Y-%m-%d")%>
 <%= link_to "Go over daily tasks", check_index_path %>
<% end %>

  <% events.each do |event| %>
    <div>
      <i><%= event.start_time.strftime("%I:%M %p") %></i>
      <%= link_to "#{event.description}", event_path(event) %>
    </div>
  <% end %>
<% end %>
<%= button_to "Create Event", new_event_path, method: "get" %>
<%= link_to "Home", root_path %>
