<%= month_calendar events: @events do |date, events| %>
  <strong><%= date.day %></strong>

  <% events.each do |event| %>
    <div>
      <i><%= event.start_time.strftime("%I:%M %p") %></i>
      <%= link_to "#{event.description}", events_path(event) %>
    </div>
  <% end %>
<% end %>

<%= button_to "Create Event", new_event_path, method: "get" %>
<%= link_to "Home", root_path %>