<p id="notice"><%= notice %></p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= button_to "delete", @event, :method => :delete %> |
<%= link_to "Home", root_path %>
