<!DOCTYPE html>
<html>
  <head>
    <title>OnTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <style type="text/css">
    body {
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>

  <body>
    <img src="
https://www.pplelectric.com/~/media/pplelectric/my%20account/images/ontrack/ontrack-logo.png " alt="Mountain View" style="">
    <%= render 'layouts/header' %>



</style>
</head>
<body>




    <%= yield %>





  </body>
</html>
